<ion-content>
  <div class="page-container">
	<section id="scanned-item">
		<ion-card>
			<ion-card-header>
				<ion-card-title>Nestea</ion-card-title>
				<ion-card-subtitle>5 pcs @ Php. 10</ion-card-subtitle>
				<ion-note>Discount: 0</ion-note>
			</ion-card-header>
			<ion-card-content>
				<div>Php 5,000</div>
			</ion-card-content>
		</ion-card>
	</section>
	<ion-button (click)="scanItem()" expand="block" fill="clear" shape="round">
		Click me
	</ion-button>
	<section class="item-table">
		<app-scanned-items-table></app-scanned-items-table>
	</section>
  </div>
</ion-content>
