ion-menu {
  ion-content {
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 20px;
    --padding-bottom: 20px;

    ion-list {
      background-color: #0000;
      padding: 20px 0;

      ion-list-header {
        padding-left: 10px;
        margin-bottom: 30px;
        font-size: 22px;
        font-weight: 600;
        min-height: 20px;
      }
    }
  }
}

ion-split-pane {
  --border: none;
  --side-max-width: 200px;
  --side-min-width: 150px;
}

ion-item {
  --background: none;
}

ion-menu ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}
ion-menu ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu ion-item ion-icon {
  color: #616e7e;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}
